Repository StelMorph/web-famvax: changes, and which lint-staged commands are due for each by the changed paths.
All: npm --workspace frontend run lint -- --fix, npm --workspace frontend run format, npm --workspace backend run lint -- --fix

feat(camera): add capture flow with re-capture prompts, review & confirm screens
  frontend/src/App.jsx
  frontend/src/components/modals/ModalsController.jsx
  frontend/src/components/modals/global/AiScanMethodModal.jsx
  frontend/src/components/modals/global/CameraScanModal.jsx
  frontend/src/components/modals/profiles/AddProfileModal.jsx
  frontend/src/pages/MyFamily/AIScanReviewExtractedDataScreen.jsx
  frontend/src/pages/MyFamily/MyFamilyScreen.jsx
  frontend/src/pages/MyFamily/ProfileDetailScreen.jsx
  frontend/src/styles/components/modals.css
  frontend/src/styles/pages/AIScanReviewExtractedDataScreen.css
Due: npm --workspace frontend run lint -- --fix, npm --workspace frontend run format

fix: remove legacy files; align tree to feat/something
  frontend/src/scan/AIScanCameraScreen.jsx
  frontend/src/scan/AIScanReviewExtractedScreen.jsx
Due: npm --workspace frontend run lint -- --fix, npm --workspace frontend run format

feat(ocr): initial implementation
  et --soft HEAD@(18)
Due: none

feat(ocr): initial implementation
  backend/lambda-fns/ocr/getUploadUrl.ts
  backend/lambda-fns/ocr/scanDocument.ts
  frontend/src/App.jsx
  frontend/src/api/apiService.js
  frontend/src/components/layout/ControlPanel.jsx
  frontend/src/components/modals/ModalsController.jsx
  frontend/src/components/modals/global/CameraScanModal.jsx
  frontend/src/components/modals/global/ProcessingModal.jsx
  frontend/src/contexts/AppState.jsx
  frontend/src/flows/scanFlow.js
  frontend/src/pages/MyFamily/AIScanReviewExtractedDataScreen.jsx
  frontend/src/pages/MyFamily/MyFamilyScreen.jsx
  frontend/src/pages/MyFamily/ProfileDetailScreen.jsx
Due: npm --workspace frontend run lint -- --fix, npm --workspace frontend run format, npm --workspace backend run lint -- --fix

feat(ocr): implement save flow and fix eslint issues
  backend/package.json
  backend/tsconfig.json
  backend/vitest.config.ts
  package-lock.json
Due: npm --workspace backend run lint -- --fix

feat(ocr): add basic OCR extraction and review flow
  backend/lambda-fns/ocr/getUploadUrl.ts
  backend/lambda-fns/ocr/scanDocument.ts
  backend/package.json
  backend/tsconfig.json
  backend/vitest.config.ts
  et --soft HEAD@(18)
  frontend/src/App.jsx
  frontend/src/api/apiService.js
  frontend/src/components/layout/ControlPanel.jsx
  frontend/src/components/modals/ModalsController.jsx
  frontend/src/components/modals/global/CameraScanModal.jsx
  frontend/src/components/modals/global/ProcessingModal.jsx
  frontend/src/contexts/AppState.jsx
  frontend/src/flows/scanFlow.js
  frontend/src/pages/MyFamily/AIScanReviewExtractedDataScreen.jsx
  frontend/src/pages/MyFamily/MyFamilyScreen.jsx
  frontend/src/pages/MyFamily/ProfileDetailScreen.jsx
  package-lock.json
Due: npm --workspace frontend run lint -- --fix, npm --workspace frontend run format, npm --workspace backend run lint -- --fix

feat: implement monitoring, integrate OCR, and update frontend
  backend/bin/backend.ts
  backend/lambda-fns/auth/preTokenGeneration.ts
  backend/lambda-fns/middleware.ts
  backend/lambda-fns/subscriptions/plans.ts
  backend/lib/backend-stack.ts
  backend/lib/constructs/cognito/cognito-construct.ts
  backend/lib/constructs/lambda/lambda-construct.ts
  backend/lib/constructs/monitoring/monitoring.ts
  backend/lib/constructs/tables/tables-construct.ts
  backend/lib/monitoring-stack.ts
  backend/lib/ocr-stack.ts
  backend/lib/utils/lambda-baseline.ts
  backend/lib/waf-stack.ts
  backend/package.json
  backend/utils/logger.ts
  errors.md
  frontend/src/components/common/DatePicker.css
  frontend/src/pages/MyFamily/ProfileDetailScreen.jsx
  frontend/src/utils/date.js
  package-lock.json
Due: npm --workspace frontend run lint -- --fix, npm --workspace frontend run format, npm --workspace backend run lint -- --fix

Path conditions:
  npm --workspace frontend run lint -- --fix: any of: frontend/**/*.{js,jsx,ts,tsx}
  npm --workspace frontend run format: any of: frontend/**/*.{js,jsx,ts,tsx,json,css,scss,md}
  npm --workspace backend run lint -- --fix: any of: backend/**/*.{ts,js}
